.DS_Store
.classpath
.proyect
qlik-clientes/DevolucionesComercioCliente/.project
qlik-clientes/IdcCobranzaCliente/.project
qlik-utilsws/.project
.settings
.settings/*
*/.classpath
*/.proyect
*/*/.classpath
*/*/.proyect
*/.settings
*/.settings/*
*/*/.settings/*
target/
*/target/
bin
*/bin
