<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>PantallasMedios</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <description>PantallasMedios</description>
    <servlet>
        <servlet-name>VerificacionTelefonoServlet</servlet-name>
        <servlet-class>mx.gob.sat.sicre.web.vista.VerificacionTelefonoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcuseTelefonoServlet</servlet-name>
        <servlet-class>mx.gob.sat.sicre.web.vista.AcuseTelefonoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailVerificacionServlet</servlet-name>
        <servlet-class>mx.gob.sat.sicre.web.vista.EmailVerificacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailAcuseServlet</servlet-name>
        <servlet-class>mx.gob.sat.sicre.web.vista.EmailAcuseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutenticacionServlet</servlet-name>
        <url-pattern>/AutenticacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegimenServlet</servlet-name>
        <url-pattern>/RegimenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/EmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TelefonoServlet</servlet-name>
        <url-pattern>/TelefonoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificacionTelefonoServlet</servlet-name>
        <url-pattern>/VerificacionTelefonoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcuseTelefonoServlet</servlet-name>
        <url-pattern>/AcuseTelefonoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailVerificacionServlet</servlet-name>
        <url-pattern>/EmailVerificacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailAcuseServlet</servlet-name>
        <url-pattern>/EmailAcuseServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>JSF Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AutenticacionServlet</servlet-name>
        <servlet-class>mx.gob.sat.sicre.web.vista.AutenticacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegimenServlet</servlet-name>
        <servlet-class>mx.gob.sat.sicre.web.vista.RegimenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>mx.gob.sat.sicre.web.vista.EmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TelefonoServlet</servlet-name>
        <servlet-class>mx.gob.sat.sicre.web.vista.TelefonoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSF Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSF Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/pages/medios/errorAcceso.xhtml</location>
    </error-page>
	<error-page>
	  <exception-type>java.lang.Throwable</exception-type>
	  <location>/pages/system/errorAcceso.xhtml</location>
	</error-page>
	<error-page>
	  <error-code>403</error-code>
	  <location>/pages/system/errorAcceso.xhtml</location>
	</error-page>
	<error-page>
	  <error-code>404</error-code>
	  <location>/pages/system/errorAcceso.xhtml</location>
	</error-page>
	<error-page>
	  <error-code>500</error-code>
	  <location>/pages/system/errorAcceso.xhtml</location>
	</error-page>
		    
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
</web-app>

